extends ../layout

block content
    .panel.panel-default
        .panel-heading Edit: #{place.name}
        .panel-body
             form#formAddPlace(name="addplace",method="post",action="/places")
                 .input-group
                    label(for="inputName").input-group-addon Name: 
                    input#inputName(type="text", value='#{place.name}', name="name", required='').form-control
                 .input-group
                    label(for="inputAddress").input-group-addon Address:
                    input#inputAddress(type='text', value='#{place.address}', name='address').form-control
                 .input-group
                    label(for="inputGroup").input-group-addon Group:
                    input#inputGroup(type='text', value='#{place.group}', name='group').form-control
                 .input-group
                    label(for="inputOpen").input-group-addon Open:
                    input#inputOpen(type='text', value='#{place.open}', name='open').form-control
                 .input-group
                    label(for="inputFindme").input-group-addon Findme:
                    input#inputFindme(type='text', value='#{place.findme}', name='findme').form-control
                 .input-group
                    label(for="inputLat").input-group-addon Lat: 
                    input#inputLat(type="text", value='#{place.lat}', name="lat").form-control
                 .input-group
                    label(for="inputLng").input-group-addon Lng: 
                    input#inputLng(type="text", value='#{place.lng}', name="lng").form-control
                 .input-group
                    button#btnSubmit(type="submit").btn.btn-success Save
                    a(href='/places').btn.btn-danger Back